// Variables
$primary-color: #d4145a;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-color: $primary-color;
  height: 6vh;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-weight: 300;
    font-size: clamp(0.9rem, 2.5vw, 1.05rem);
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

#banner {
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  #hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    max-width: 1400px;
    height: 100%;
    padding: 3% 7% 10% 7%;
    width: 100%;
    @media (max-width: 768px) {
      padding: 10% 7%;
      img {
        max-width: 30vw;
        height: auto;
      }
    }
    h1 {
      font-weight: 400;
      font-style: normal;
      color: white;
      font-kerning: none;
      text-decoration: none;
      font-size: clamp(3rem, 10vw, 4.375rem);
      line-height: 1.2;
      letter-spacing: -0.04em;
      text-align: left;
      max-width: 1100px;
      margin-top: 95px !important;
      span {
        color: $primary-color;
      }
    }
  }
}

#goal {
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    gap: 90px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 5% 7%;
    width: 100%;
    @media (max-width: 768px) {
      padding: 15% 7%;
    }
    .message {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      h2 {
        font-weight: 400;
        font-style: normal;
        color: $primary-color;
        font-kerning: none;
        font-size: clamp(2.5rem, 4vw, 3.8125rem);
        line-height: clamp(3rem, 5vw, 4.125rem);
        letter-spacing: -0.05em;
      }
      h3 {
        color: black;
        font-weight: 300;
        font-kerning: none;
        text-decoration: none;
        font-size: clamp(1.5rem, 3vw, 2rem);
        line-height: clamp(1.75rem, 3.5vw, 2.125rem);
        letter-spacing: -0.05em;
        max-width: 1000px;
      }
    }
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
      gap: 29px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .title {
          display: flex;
          flex-direction: column;
          gap: 4px;
          color: $primary-color;
          font-weight: 400;
          font-size: clamp(1.25rem, 3vw, 1.6875rem);
          line-height: clamp(1.5rem, 3.5vw, 1.625rem);
          letter-spacing: -0.05em;
          h3 {
            font-weight: 400 !important;
            font-size: clamp(1.25rem, 3vw, 1.6875rem) !important;
          }
        }
        .video-container {
          overflow: hidden;
          aspect-ratio: 16 / 9;
          video {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        h4 {
          color: black;
          font-weight: 300;
          font-size: clamp(0.9375rem, 2vw, 1.0625rem);
          line-height: clamp(1.25rem, 2.5vw, 1.375rem);
          letter-spacing: 0em;
          width: 97%;
        }
      }
    }
  }
}

#services {
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  #background-video-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    max-width: 1400px;
    height: 100%;
    padding: 5% 7% 7% 7%;
    margin: 0 auto;
    gap: 100px;
    width: 100%;
    @media (max-width: 1200px) {
      gap: 25px;
      padding: 15% 7%;
    }
    .message {
      display: flex;
      flex-direction: column;
      gap: 70px;
      width: 100%;
      h2 {
        color: white;
        font-weight: 400;
        font-size: clamp(2.5rem, 15vw, 4rem);
        line-height: clamp(3.5rem, 6vw, 5.5625rem);
        letter-spacing: -0.02em;
      }
      h3 {
        color: white;
        font-weight: 300;
        font-size: clamp(1.4rem, 3vw, 1.5rem);
        line-height: 1.2;
        letter-spacing: 0em;
        max-width: 1000px;
      }
    }
    .items {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 40px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px 24px;
        border-radius: 50px;
        color: white;
        font-size: clamp(1.2rem, 2vw, 1.4rem);
        line-height: 1.2;
        letter-spacing: 0em;
        border: 1px solid white;
        min-height: 60px;
        height: 5vw;
        max-height: 70px;
      }
    }
  }
}

#clients {
  background-color: white;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    gap: 110px;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    padding: 7% 7% 13% 7%;
    @media (max-width: 1200px) {
      gap: 100px;
      padding: 15% 7%;
    }
    h3 {
      font-weight: 400;
      color: black;
      font-size: clamp(3.1rem, 5vw, 4rem);
      line-height: 1.2;
      letter-spacing: -0.02em;
      text-align: left;
    }
    .clients {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 40px;
      justify-items: flex-start;
      align-items: center;
      @media (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 768px) {
        display: none !important;
      }
      img {
        max-height: 70px;
        height: auto;
        max-width: 220px;
      }
    }
  }
}

footer {
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  #background-video-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .content {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 1400px;
    height: 100%;
    padding: 7% 7% 18% 7%;
    margin: 0 auto;
    gap: 40px;
    width: 100%;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      padding: 30% 7% 30% 7%;
    }
    .footer-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
      .col {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .sec {
          display: flex;
          flex-direction: column;
          gap: 0px;
          .item {
            color: white;
            font-size: clamp(1.25rem, 3vw, 1.4375rem);
            line-height: clamp(1.75rem, 3.5vw, 1.9375rem);
            letter-spacing: 0em;
            white-space: nowrap;
            font-weight: 200;
            span {
              font-weight: 600;
            }
          }
        }
      }
      h4 {
        font-weight: 400;
        font-size: clamp(3rem, 4.5vw, 3.6875rem);
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 40px !important;
        max-width: 550px;
        @media (max-width: 1200px) {
          margin-bottom: 20px !important;
        }
        @media (max-width: 768px) {
          margin-bottom: 0px !important;
        }
      }
      .socials {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        align-self: flex-end;
        a {
          width: 44px;
          height: 44px;
          @media (max-width: 768px) {
            width: 35px;
            height: 35px;
          }
          img {
            max-width: 44px;
            @media (max-width: 768px) {
              max-width: 35px;
            }
          }
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  @media (min-width: 768px) {
    display: none !important;
  }

  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;

      img {
        height: 80px;
        width: auto;
        object-fit: contain;
        max-width: 250px;
      }
    }
  }
  .swiper-pagination {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 0 !important;
    .swiper-pagination-bullet {
      background: black;
      opacity: 0.5;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 50%;
      display: inline-block;
      transition: opacity 0.3s;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}
