---
const { images } = Astro.props;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {images.map((image) => (
      <div class="swiper-slide">
        <img src={image.src} alt="Swiper Image" />
      </div>
    ))}
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper';
  import { Autoplay, Pagination } from "swiper/modules";
  import 'swiper/css';
  import 'swiper/css/pagination';
  
  var swiper = new Swiper('.swiper', {
    modules: [Autoplay, Pagination],
    autoplay: {
      delay: 1500,
      disableOnInteraction: false,
    },
    loop: true,
    speed: 2000,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      bulletClass: 'swiper-pagination-bullet',
      bulletActiveClass: 'swiper-pagination-bullet-active',
    },
  });
</script>
