---
import 'aos/dist/aos.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Somos una compañía especializada en marketing, ventas & tecnología." />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="marketing, ventas, tecnología, coming soon, Dugalu" />
		<meta name="author" content="Dugalu" />

		<meta property="og:title" content="Dugalu - Coming Soon" />
		<meta property="og:description" content="Somos una compañía especializada en marketing, ventas & tecnología." />
		<meta property="og:image" content="https://dugalu.vercel.app/favicon.png" />
		<meta property="og:type" content="website" />
		
		<title>Dugalu - Coming Soon</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
		<script>
			import AOS from "aos";
			AOS.init();
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	*{
		font-family: 'Mulish', sans-serif;
	}
</style>
